# FastAPI framework for building APIs
fastapi==0.115.2

# Uvicorn is an ASGI server for FastAPI
uvicorn[standard]==0.32.0

# SQLAlchemy for database models and interaction
sqlalchemy==2.0.36

# Async PG driver for SQLAlchemy
asyncpg==0.30.0

# Pydantic for data validation
pydantic==2.9.2

# Alembic for database migrations (optional)
alembic==1.13.3

# Python-dotenv for loading environment variables from .env file
python-dotenv==1.0.1

# Loguru for enhanced logging (optional, if you prefer)
loguru==0.7.2
